body header{
    background-image:url(imagenes/header_background.jpeg);
    color: white;
    font-weight: bold;
    font-size: 35px;
}
body{
    font-family: 'Golos Text', sans-serif;
    font-family: 'Shantell Sans', cursive;
    font-family: 'Source Sans Pro', sans-serif;
}
