#contenido {
    font-family: 'Golos Text', sans-serif;
    max-width: 35%;
    margin: 0 auto;
}

#foto {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    background-image: url(imagenes/header_background.jpeg);
    width: 100%;
    height: 90vh;
    color: white;
    background-size: scale;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-position: center;
    padding: 50px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
}
.video{
       width: 100%;
       height: 400px;
}
img{  
    width: 100%;
}
table, td{
    align-items: center;
    border: "1px"; width:"70%"
}